/* Import Lato font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

#model {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* General styles */
body {
    font-family: 'Lato', sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    color: #333;
}

.logo {
    width: 150px;
    height: auto; /* Maintain aspect ratio */
}

.main-container {
    display: flex;
    justify-content: flex-start; /* Align the game area to the left */
    align-items: flex-start;
    padding: 20px;
}

/* Game area styles */
.game-area {
    width: 450px; /* Adjust the width of the game area */
    border: 1px solid #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; /* Add some space between the game area and the instructions container */
}

.text-box {
    width: 200px; /* Adjust width as needed */
    height: 50px; /* Reduced height */
    background-color: #14A19A;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto; /* Reduced margin */
    text-align: center;
}

.downward-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000;
    margin: 5px auto; /* Reduced margin */
}

.cycle {
    position: relative; /* Needed for absolute positioning of arrows */
    width: 400px; /* Reduced width */
    height: 400px; /* Reduced height */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto; /* Adjusted margin to move the cycle upwards */
}

.quarter {
    width: 120px; /* Reduced width */
    height: 120px; /* Reduced height */
    background-color: #BCCF04;
    position: absolute;
    border-radius: 0 100% 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quarter1 {
    top: 0;
    left: 68%; /* Adjusted left position */
    transform: translate(-50%, 0) rotate(0deg);
}

#quarter2 {
    top: 33%;
    left: 5%; /* Adjusted left position */
    transform: translate(-100%, -50%) rotate(90deg);
}

#quarter3 {
    top: 65%;
    left: 33%; /* Adjusted left position */
    transform: translate(-50%, -100%) rotate(180deg);
}

#quarter4 {
    top: 50%;
    left: 50%; /* Adjusted left position */
    transform: translate(0, -50%) rotate(270deg);
}

.quarter span {
    display: block;
    transform: rotate(-90deg); /* Rotate text back to normal orientation */
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid black;
    position: absolute;
}

#arrow1 {
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

#arrow2 {
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%) rotate(270deg);
}

#arrow3 {
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

#arrow4 {
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%) rotate(270deg);
}

.instructions-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    display: block;
}

.draggable-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.draggable {
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    color: white;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: #E6007E;
    border: 2px solid #8A8B8D;
    border-radius: 5px;
}

.draggable:hover {
    background-color: #b60d91;
}

#submit-button, #next-question-button {
    font-size: 2.0em;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #87898A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-button:hover, #next-question-button:hover {
    background-color: #8a8d8dc0;
}

#submit-button.disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

#next-question-button {
    display: none;
}

.new-question {
    font-size: 2.0em;
    margin-left: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.new-question h3 {
    margin-top: 0;
}

.new-question button {
    font-size: 1.0em;
    background-color: #E6007E;
    color: white;
    border: 2px solid #8A8B8D;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    display: block;
    cursor: pointer;
}

.new-question button:hover {
    background-color: #b60d91;
}
