/* Styles.css content as of 6/11/24 */
body {
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header h1 {
    margin: 0;
}

.logo {
    width: 200px; /* Adjust the width to make it smaller */
    height: auto; /* Maintain aspect ratio */
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
}

.game-area {
    width: 30%; /* Adjust the width to be percentage-based */
    max-width: 400px; /* Ensure it doesn't exceed 400px */
    border: 1px solid #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; /* Add some space between the game area and the instructions container */
    flex: 1;
}

.right-container {
    width: 75%; /* Adjust the width to be percentage-based */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start */
    gap: 20px;
}

.instructions-container {
    width: 60%;
    display: flex;
    flex-direction: column; /* Stack instructions and buttons */
    align-items: flex-start; /* Align instructions to the left */
    margin-bottom: 20px;
}

.instructions {
    width: 40%; /* Adjust the width of the instructions */
    padding: 20px;
    margin-bottom: 20px; /* Added margin-bottom to space out the instructions */
    display: block; /* Ensure the instructions are displayed as a block element */
    background-color: #14a19a; /* teal background */
    color: white; /* Black text */
    position: relative;
    text-align: left; /* Align text to the left */
    border-radius: 5px; /* Rounded corners */
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%); /* Pentagon shape */
}

#submit-button, #next-question-button {
    background-color: #87898A; /* Grey background */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Add padding */
    font-size: 1.5em; /* Adjust font size */
    cursor: pointer; /* Pointer cursor */
    margin-left: 20px; /* Add margin to the left to space out from instructions */
}

#submit-button:disabled {
    background-color: #ccc; /* Disabled background */
    cursor: not-allowed; /* Not-allowed cursor */
}

.draggable-container {
    width: 50%; /* Keep the width of the draggable container */
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of buttons */
    justify-content: center; /* Center the buttons */
    align-items: flex-start; /* Align items to the start to prevent vertical overlap */
    gap: 10px; /* Add gap between buttons */
    flex: 1;
}

.draggable {
    padding: 12px 16px; /* Increased padding */
    margin: 6px; /* Slightly increased margin */
    display: inline-block; /* Display buttons in a row */
    color: white; /* White text */
    text-align: center; /* Center text */
    cursor: pointer; /* Change cursor to pointer */
    user-select: none; /* Prevent text selection while dragging */
    background-color: #E6007E; /* Button colour */
    border: 2px solid #8A8B8D; /* Border colour */
    border-radius: 5px; /* Rounded corners */
    font-size: 1.1em; /* Increased font size */
}

.draggable:hover {
    background-color: #b60d91; /* Darker pink on hover */
}

#next-question-button {
    font-size: 1.5em; /* Adjust font size */
    padding: 10px 20px; /* Add padding */
    margin-top: 20px; /* Add margin to separate from other elements */
    background-color: #87898A; /* Grey background */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
}

/* Game area styles */
.text-box {
    width: 250px; /* Adjust width as needed */
    height: 50px; /* Reduced height */
    background-color: #BCCF04;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto; /* Reduced margin */
    text-align: center;
    font-size: 1.2em; /* font size */
}

.downward-arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent; /* Increased border width */
    border-right: 15px solid transparent; /* Increased border width */
    border-top: 15px solid #000; /* Increased border width */
    margin: 5px auto; /* Reduced margin */
}

.cycle {
    position: relative; /* Needed for absolute positioning of arrows */
    width: 400px; /* Adjusted width */
    height: 400px; /* Adjusted height */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto; /* Adjusted margin to move the cycle upwards */
}

.quarter {
    width: 150px; /* Adjusted width */
    height: 150px; /* Adjusted height */
    background-color: #BCCF04;
    position: absolute;
    border-radius: 0 100% 0 0; /* Create a quarter-circle */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text */
}

.quarter span {
    font-size: 1.2em; /* Reduced font size */
    display: block;
    transform-origin: center center;
}

#quarter1 span {
    transform: rotate(0deg); /* Adjust rotation for quarter 1 */
}

#quarter2 span {
    transform: rotate(-90deg); /* Adjust rotation for quarter 2 */
}

#quarter3 span {
    transform: rotate(-180deg); /* Adjust rotation for quarter 3 */
}

#quarter4 span {
    transform: rotate(-270deg); /* Adjust rotation for quarter 4 */
}

#quarter1 {
    top: 0;
    left: 72%;
    transform: translate(-50%, 0) rotate(0deg);
}

#quarter2 {
    top: 60%;
    left: 72%;
    transform: translate(-50%, -50%) rotate(90deg);
}

#quarter3 {
    top: 60%;
    left: 29%;
    transform: translate(-50%, -50%) rotate(180deg);
}

#quarter4 {
    top: 0;
    left: 29%;
    transform: translate(-50%, 0) rotate(270deg);
}

.arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    
}

#arrow1 {
    top: 55%;
    right: 150px; /* Move further left */
    transform: translate(50%, -50%) rotate(0deg);
    border-width: 15px 0 15px 15px; /* Increased border width */
    border-color: transparent transparent transparent #000;
}

#arrow2 {
    bottom: 75px; /* Move further left/right */
    left: 0%;
    transform: translate(-50%, 50%) rotate(270deg); /* Rotate 180 degrees */
    border-width: 15px 15px 0 15px; /* Increased border width */
    border-color: #000 transparent transparent transparent;
}

#arrow3 {
    top: 50%;
    left: -0px;
    transform: translate(-50%, -50%) rotate(180deg);
    border-width: 15px 15px 15px 0; /* Increased border width */
    border-color: transparent #000 transparent transparent;
}

#arrow4 {
    top: 60px; /* Move lower down */
    left: 0%;
    transform: translate(-50%, 50%) rotate(90deg); /* Rotate 180 degrees */
    border-width: 0 15px 15px 15px; /* Increased border width */
    border-color: transparent transparent #000 transparent;
}

.correction {
    display: inline-block;
    background-color: #8A8B8D; /* Grey background */
    color: white; /* White text */
    border-radius: 5px; /* Rounded corners */
    padding: 8px; /* Padding to match draggable buttons */
    text-align: center;
    font-size: 1em; /* Same font size as draggable buttons */
    border: 2px solid #e6007e; /* Border colour */
}

.final-question-container {
    width: 30%; /* Ensure it takes the full width */
    display: none; /* Initially hidden */
    margin-top: 20px; /* Add some margin at the top */
}

.final-options {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Add some space between the options */
}

.final-option {
    padding: 12px 16px; /* Same padding as draggable buttons */
    margin: 6px; /* Same margin as draggable buttons */
    display: inline-block; /* Display buttons in a row */
    color: white; /* White text */
    text-align: center; /* Center text */
    cursor: pointer; /* Change cursor to pointer */
    user-select: none; /* Prevent text selection */
    background-color: #14a19a; /* Button colour */
    border: 2px solid #8A8B8D; /* Border colour */
    border-radius: 5px; /* Rounded corners */
    font-size: 1.2em; /* Same font size as draggable buttons */
}

.final-option:hover {
    background-color: #0b6b66; /* Darker teal on hover */
}